

<div class="comtainer">
  <table class="table table-striped table-hove">
    <thead>
      <tr>
        <th scope="col">Codigo factura</th>
        <th scope="col">Cliente</th>
        <th scope="col">Ciudad</th>
        <th scope="col">Nit</th>
        <th scope="col">Total Factura</th>
        <th scope="col">Subtotal</th>
        <th scope="col">Iva</th>
        <th scope="col">Retencion</th>
        <th scope="col">Fecha Creacion</th>
        <th scope="col">Estado</th>
        <th scope="col">Pagada</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let item of factura">
        <td>{{item.codigoFactura | titlecase}}</td>
        <td>{{item.cliente}}</td>
        <td>{{item.ciudad}}</td>
        <td>{{item.nit}}</td>
        <td>{{item.totalFactura | currency}}</td>
        <td>{{item.subtotal| currency}}</td>
        <td>{{item.iva| currency}}</td>
        <td>{{item.retencion| currency}}</td>
        <td>{{item.fechaCreacion | date:'dd/mm/yy'}}</td>
        <td>{{item.estado}}</td>
        <td>{{item.pagada}}</td>
    </tr>
    </tbody>
  </table>

</div>
